
:root {
   --bg1: #bd8abe;
   --bg2: rgb(44, 42, 42);
    --body: rgb(95, 86, 86); 
   --brand: #dfaa4e;
   --white: rgb(236, 236, 236);
   --p: rgb(161, 150, 150);
}

a {
   text-decoration: none;
}

#banner {
   min-height: 100vh;
   background: linear-gradient(to right, hsla(0, 71%, 3%, 0.856), rgba(100, 91, 91, 0)),
      url("https://media.newyorker.com/photos/62ab8b198d131ea1e4635750/master/w_1600%2Cc_limit/kim-bts05.jpg");
   background-size: cover;
}

.navbar {
   background: linear-gradient(to bottom, hsla(0, 0%, 6%, 0.829), rgba(167, 93, 93, 0));
}

.navbar .nav-link {
   color: rgb(11, 12, 12);
}

.navbar #navbarNav .nav-link.creative {
   color: var(--brand) !important;
}

.navbar .nav-link:hover {
   color: var(--brand) !important;
}

.navbar-brand img {
   width: 20%;
}

.btn {
   padding: 15px, 30px;
   transition: all 0.4s ease;
   font-weight: 800;
   border-radius: 0;
}

.btn-brand {
   background-color: var(--brand);
}

.btn-brand:hover {
   background-color: transparent;
   color: var(--brand);
   border-color: var(--brand);

}

.btn-outline-brand {
   background-color: transparent;
   color:var(--brand);
   border-color: var(--brand);
}

.btn-outline-brand:hover {
   background-color: var(--brand);
   color: var(--brand);
}

section {
   padding-top: 100px;
   padding-bottom: 100px;
}


#about {
   background-color: plum;
   position: relative;
   z-index: 1;
}

#services {
   background-color: powderblue;
}

.icon-box-img {
   width: 40%;
}

.card {
   transition: background-color 0.3s, color 0.3s;
}

.card:hover {
   background-color: var(--bg1);
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
   color: #ffffff;
}

#cta {
   position: relative;
   opacity: 0.90;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: linear-gradient(to right, hsla(0, 2%, 17%, 0.856), rgba(44, 42, 42, 0)),
      url("https://assets.teenvogue.com/photos/657b63688b350ccaba82359a/16:9/w_2560%2Cc_limit/1196915689");
   min-height: 100vh;
}

.testimonials {
   padding: 30px;
   background-color: var(--bg1);
   border-radius: 1px;
}

.testimonials img {
   width: 65px;
   border-radius: 100px;
   height: 65px;
}

#reviews a {
   text-decoration: none;
   color: var(--brand);
}

.faq-section {
   max-width: 800px;
   margin: auto;
}

.accordion-item {
   margin-bottom: 20px;
   /*Add margin bottom for spacing*/
   border-radius: 0 !important;
}

.accordion-button {
   background-color: #a869a3;
   border: none;
   border-bottom: 1px solid #9f4ad8;
   border-radius: 0;
   padding: 15px;
   font-size: 18px;
   font-weight: 500;
   color: #343a40;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
   border-left: 3px solid var(--brand);
   padding: 10px 15px;
   margin-left: 0;
   background-color: #f8f9fa;
}

.faq-answer p {
   margin-bottom: 0;
}

.accordion-button:focus {
   box-shadow: none;
}

.accordion-button:not(.collapsed) {
   color: var(--bg1);
}

/* Hover effect for FAQ questions */
.accordion-button:hover {
   background-color: var(--bg1);
   /*Change background color on hover*/
   color: var(--bg1);
   /*Change text color on hover*/
}

/* Adjust accordion icon */
.accordion-button::after {
   font-family: "Font Awesome 5 free";
   content: "";
   /*Plus icon*/
   float: right;
   font-weight: 900;
   margin-left: auto;
}

.acccordion-button [aria-expanded="true"]::after {
   content: "";
   /*Minus icon*/
}

/* Footer */
#footer {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: var(--bg1);
}

#footer ul.list-unstyled li a {
   color: #ffffff;
}

#footer ul.list-unstyled li:hover a {
   color: var(--brand)
}

#review h2,
#services h2 {
   color: var(--bg1)
}

.btn-ouline-light {
   border-color: #F2B03B !important;
   color: #F2B03B;
}

@media screen and (max-width: 767px){
   section{
      padding: 60px 20px;
   }
   .card{
      margin-bottom: 20px;
   }
}